
/*   dropdown de assignee               */
.btn-dropdown {
   background-color: #3498DB;
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
   cursor: pointer;
   border-radius: 0.6vh;
 }
 
 .btn-dropdown:hover, .btn-dropdown:focus {
   background-color: #2980B9;
 }
 
 .dropdown {
   position: relative;
   display: inline-block;
   margin-bottom: 2vh;
 }
 
 .content-dropdown{
   display: none;
   position: absolute;
   background-color: #f1f1f1;
   min-width: 160px;
   overflow: auto;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
 
 .content-dropdown a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   cursor: pointer;
 }
 
 .dropdown a:hover {background-color: #ddd;}
 
 .show {display: block;}

 /*         card register      */
 .card{
    float: left;
   margin: 10vh;
   margin-top: 8vh;
   background: var(--card-color);
   color:rgb(255, 255, 255);
   width: 500px;
   padding: 30px;
   box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
   border-radius: 20px;   
   height: calc(80vh - 60px);
   
 }

 .card  #items-card{
   flex-direction: column;
   display: flex;
   padding-top: 15vh;
   
   
 }
 .inputs-register{
   flex-direction: column;
   display: flex;
   padding-bottom: 2vh;
 }
 #inpId{
    
    padding: 0.5vh;
    width: 40vh;
 }

 #inpNm{
   padding: 0.5vh;
   width: 40vh;
 }
 #grupo_id{
   margin-bottom: 3vh;
 }
 #grupo_name{
  margin-bottom: 3vh;
}
 /* labels*/

 .labels{
    margin-top: 2vh;
    color: black;
    font-family:'Times New Roman', Times, serif;
 }
 
 #saveReg{
    margin-top: 3vh;
    padding: 1.3vh;
    background-color: darkseagreen;
    cursor: pointer;
    border-radius: 0.5vh;
 }

 .alert_input_id{
   display: none;
   color: red;
 }

.alert_input{
  display: none;
  color: red;
}

 .formulario_input_activo{
   display: block;
 }

 /*     card table                 */

 .card-table{
   float: right;
   margin: 0.3vh;
   margin-right: 19.8vh;
   background: var(--card-color);
   color:rgb(255, 255, 255);
   width: 800px;
   padding: 30px;
   box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
   border-radius: 20px;   
   height: calc(80vh - 60px);
   
 }

 table{
  border-spacing: 0;
  display: flex;
  max-height: 40vh;
  overflow-y: auto;
  overflow-x: hidden;
  table-layout: fixed;
  width: 41vw; 
  border:1px solid gray;
}

thead{
  background-color: #f1eee9;
  position: fixed !important;
}

th{
  border-bottom: 1px solid #c4c0c9;
  border-right: 1px solid #c4c0c9;
}

th,td{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: normal;
  margin: 0;
  max-width: 21.5vw; 
  min-width: 7.6vw;
  word-wrap: break-word;
  font-size: 14px;
  height: 3.5vh !important;
  padding: 5px;
  border-right: 1px solid #c4c0c9;
}
tr:nth-child(2n) {
  background: none repeat scroll 0 0 #776e6e;
}

/*     inputs of table                    */

.container-inputs-table{

  flex-direction: row;


}

#inputs-right{
  float: left;
}

#buttons-left{
  float: right;
  padding-top: 4vh;
 
 

}

#buttons-left .dropdown{
  padding-right: 2vh;

}

#inputs-right{
  padding-top: 4vh;
  padding-left: 1vh;
}
#btn-deleteU{
  padding: 1vh;
  margin-top: 1vh;
  width:10vh;
}
#btn-searchU{
  padding: 1vh;
  margin-top: 1vh;
  width:10vh;
}
#inp-search{
  padding: 1vh;
}
#inp-delete{
  padding: 1vh;
}

/*              boton redireccionar       */

.redi-btn{
  background-color: #776e6e;
  float: right;
 margin: 1vh;
 padding: 2vh;
align-items: center;
 display: flex;
 border-radius: 2vh;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

 
}

#img-calcu{
  padding-right: 2vh;
}
.redi-btn a{
 text-decoration: none;

}
